---

---

<section class="w-full bg-sky-600">
    <div class="w-full mx-auto max-w-7xl py-10 px-4 lg:px-16 text-center">
        <h2 class="text-5xl lg:text-6xl font-brush text-sky-100">
            Feel amazing about your oral health
        </h2>
        <div class="w-full py-16 flex flex-col lg:flex-row gap-16 justify-center">
            <div class="w-full lg:w-72 flex flex-col items-center gap-4">
                <img class="w-20 bg-sky-200 p-4 rounded-full" src="./dental-implants-1.svg" alt="Icon">
                <h3 class="font-bold text-4xl text-sky-200 font-brush">
                    +30 years of experience
                </h3>
                <p class="font-light text-2xl text-sky-300">
                    Our clinical team is led by renowned clinicians.
                </p>
            </div>
            <div class="w-full lg:w-72 flex flex-col items-center gap-4">
                <img class="w-20 bg-sky-200 p-4 rounded-full" src="./dental-implants-1.svg" alt="Icon">
                <h3 class="font-bold text-4xl text-sky-200 font-brush">
                    Science-based care
                </h3>
                <p class="font-light text-2xl text-sky-300">
                    We take advantage of all the latest research.
                </p>
            </div>
            <div class="w-full lg:w-72 flex flex-col items-center gap-4">
                <img class="w-20 bg-sky-200 p-4 rounded-full" src="./dental-implants-1.svg" alt="Icon">
                <h3 class="font-bold text-4xl text-sky-200 font-brush">
                    Only the care you need
                </h3>
                <p class="font-light text-2xl text-sky-300">
                    Our dentists don’t make a commission on procedures.
                </p>
            </div>
        </div>
        <a href="#">
            <button class="rounded-md bg-sky-50 py-2 px-6 font-bold text-sky-600">Learn more</button>
        </a>
    </div>
</section>