---

---

<section class="w-full bg-sky-100">
    <div class="w-full max-w-7xl flex flex-col items-center gap-16 mx-auto p-6 lg:py-16 text-center">
        <p class="w-full max-w-4xl font-brush text-3xl lg:text-5xl">
            “Book your appointment today and take the first step towards a healthier, brighter smile.”
        </p>
        <a href="tel:+">
            <button class="bg-sky-600 text-sky-50 py-2 px-6 rounded-md">
                Contact Us
            </button>
        </a>
    </div>
    <img src="wave-open.svg" alt="wave open">
</section>