---
import Question from "./Question"
---

<section class="w-full bg-sky-100">
    <div class="w-full max-w-7xl px-6 lg:px-16 py-20 flex flex-col items-center text-center">
        <div class="flex items-center gap-6">
            <img src="./start-icon.svg" alt="icon">
            <h2 class="font-brush text-4xl lg:text-6xl">Got Questions?</h2>
            <img src="./end-icon.svg" alt="icon">
        </div>
        <p class="text-2xl py-8">
            We’ve gathered the most common questions from our patients to help you feel informed and confident before your visit.
        </p>
        <div class="w-full max-w-5xl">
            <!-- Questions here -->
            <Question question="Question 1" response="This is the response" />
            <Question question="Question 1" response="This is the response" />
            <Question question="Question 1" response="This is the response" />
            <Question question="Question 1" response="This is the response" />
        </div>
    </div>
</section>