---

---

<footer>
    <div>
        <div>
            <p>
                © {new Date().getFullYear()} - Sharda Dental
            </p>
            <p>
                Create by <a href="http://linkedin.com/in/addiellucena94" target="_blank" rel="noopener noreferrer">Addiel</a> in AstroJS
            </p>
        </div>
    </div>
</footer>