---

---

<header>
    <nav>
        <a href="#">
            <img src="" alt="Logo">
        </a>
        <div>
            <a href="tel:+">
                <button>
                    Contact Us
                </button>
            </a>
            <button>
                <img src="./menu.svg" alt="Menu">
            </button>
        </div>
    </nav>
</header>