---

---

<section class="w-full bg-sky-600">
    <div class="w-full max-w-7xl py-10 lg:py-16 px-4 lg:px-20 flex flex-col gap-20">
        <div class="flex flex-col lg:flex-row gap-16 items-start">
            <div class="text-center lg:text-left w-full lg:w-3/5">
                <div class="flex items-center gap-6 pb-6">
                    <img class="w-14" src="./face-smile.svg" alt="Star icon">
                    <h2 class="font-brush text-5xl lg:text-6xl text-yellow-400">
                        Meet Our Experts
                    </h2>
                </div>
                <p class="text-2xl font-light text-amber-100">
                    Our dedicated dental professionals combine years of experience, advanced training, and genuine care to provide exceptional treatments, ensuring every patient receives personalized attention and feels confident with their smile.
                </p>
            </div>
            <img class="w-full h-auto lg:w-2/5" src="./team.jpg" alt="Team group">
        </div>
        <div class="w-full flex flex-row-reverse justify-between">
            <img class="hidden lg:inline scale-x-[-1]" src="round-graphic.svg" alt="graphic">
            <div class="w-full lg:w-2/3 flex flex-col lg:flex-row gap-10 p-6 bg-sky-500 rounded-xl">
                <img class="w-full lg:h-80 lg:w-60" src="./doc.jpg" alt="Doc Sharda">
                <div>
                    <p class="font-brush text-4xl text-sky-950">Doc John Doe</p>
                    <p class="text-2xl font-light text-sky-800">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full flex justify-between">
            <img class="hidden lg:inline" src="round-graphic.svg" alt="graphic">
            <div class="w-full lg:w-2/3 flex flex-col lg:flex-row-reverse gap-10 p-6 bg-sky-500 rounded-xl">
                <img class="w-full lg:w-60 lg:h-80" src="./doc.jpg" alt="Doc Sharda">
                <div>
                    <p class="font-brush text-4xl text-sky-950">Doc John Doe</p>
                    <p class="text-2xl font-light text-sky-800">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, fugit?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>