---
import { useRef } from "react";
---

<section>
    <img src="./wave-close.svg" alt="wave close">
    <h2>What Our Patients Say</h2>
    <p>
        Real stories from our patients who trusted us with their smiles. Their experiences reflect our commitment to quality dental care, compassion, and lasting results you can feel confident about.
    </p>
    <div class="w-full max-w-3xl mx-auto">
    {/* Controles */}
    <div class="flex justify-between mb-4">
        <button
        id="prevBtn"
        class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300"
        >
        ◀
        </button>
        <button
        id="nextBtn"
        class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300"
        >
        ▶
        </button>
    </div>
    <div id="carousel" class="flex overflow-x-scroll scroll-smooth no-scrollbar space-x-4" style="scroll-snap-type: x mandatory;">
        <div class="min-w-[80%] scroll-snap-start bg-blue-200 p-6 rounded-lg shadow">
            <p>Name People</p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, recusandae ducimus iure quia architecto corporis nostrum optio perspiciatis veniam aspernatur tempora quis consequatur aut aliquam sed, in vel tenetur, laboriosam nisi. Dolorum blanditiis labore, doloribus odio cupiditate soluta in dolores vel ipsum placeat ipsa quisquam? Dolor unde quibusdam autem magni?
            </p>
        </div>
        <div class="min-w-[80%] scroll-snap-start bg-blue-200 p-6 rounded-lg shadow">
            <p>Name People</p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, recusandae ducimus iure quia architecto corporis nostrum optio perspiciatis veniam aspernatur tempora quis consequatur aut aliquam sed, in vel tenetur, laboriosam nisi. Dolorum blanditiis labore, doloribus odio cupiditate soluta in dolores vel ipsum placeat ipsa quisquam? Dolor unde quibusdam autem magni?
            </p>
        </div>
        <div class="min-w-[80%] scroll-snap-start bg-blue-200 p-6 rounded-lg shadow">
            <p>Name People</p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, recusandae ducimus iure quia architecto corporis nostrum optio perspiciatis veniam aspernatur tempora quis consequatur aut aliquam sed, in vel tenetur, laboriosam nisi. Dolorum blanditiis labore, doloribus odio cupiditate soluta in dolores vel ipsum placeat ipsa quisquam? Dolor unde quibusdam autem magni?
            </p>
        </div>
        <div class="min-w-[80%] scroll-snap-start bg-blue-200 p-6 rounded-lg shadow">
            <p>Name People</p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, recusandae ducimus iure quia architecto corporis nostrum optio perspiciatis veniam aspernatur tempora quis consequatur aut aliquam sed, in vel tenetur, laboriosam nisi. Dolorum blanditiis labore, doloribus odio cupiditate soluta in dolores vel ipsum placeat ipsa quisquam? Dolor unde quibusdam autem magni?
            </p>
        </div>
        <div class="min-w-[80%] scroll-snap-start bg-blue-200 p-6 rounded-lg shadow">
            <p>Name People</p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, recusandae ducimus iure quia architecto corporis nostrum optio perspiciatis veniam aspernatur tempora quis consequatur aut aliquam sed, in vel tenetur, laboriosam nisi. Dolorum blanditiis labore, doloribus odio cupiditate soluta in dolores vel ipsum placeat ipsa quisquam? Dolor unde quibusdam autem magni?
            </p>
        </div>
    </div>
</section>
